apiVersion: apps/v1
kind: Deployment
metadata:
  name: ozo-home-deployment
  labels:
    app: react
spec:
  replicas: 3
  selector:
    matchLabels:
      app: react
  template:
    metadata:
      labels:
        app: react
    spec:
      containers:
      - name: react
        image: ozo/frontend:test