.Login_div{
    width: 100%;
    max-width: 100%;
    max-height: 100vh;
    position: relative;
    padding-bottom: 100px;
}

.login_content{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 100px;
    overflow: hidden;

}

.login_info{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    padding-bottom: 0%;
    padding-top: 0%;
}

@media (min-width: 300px) and (max-width: 500px) {
    .login_info{
        gap: 10px;
        padding-bottom: 0%;
    }
}

@media (min-width: 500px){
    .login_info{
        padding-bottom: 0%;
    }
}
