/* max-w-6xl min-h-[90vh] mb-12 justify-between flex pt-44 w-full mx-auto */

.explore{
    max-width: 72rem;
    /* min-height: 90vh; */
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    padding-top: 2.75rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.category_div{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-left: 5px;
    margin-right: 5px;
}
.category_card {
    border-radius: 1.5rem;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #000;
    min-height: 300px;
    width: 100%;
    height: 100%;;
    background-color: #f3f4f6;
}

/* w-full max-w-7xl absolute top-28 right-20 flex justify-between  mx-auto  */
.language_plan{
    width: 100%;
    /* max-width: 87rem; */
    position: absolute;
    top: 7rem;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}


@media (min-width: 350px) and (max-width: 500px) {
    .explore {  
      display: flex;
      flex-direction: column;
      gap: 5;
      margin-left: 20px;
      margin-right: 20px;
    }
    .explore_heading{
        padding-right: 5px;
        font-size: 2.2rem;
        margin-right: 3px;
    }
    .explore_content{
        margin: 10px;
        width: 85%;
    }
    .category_card{
        /* margin-left: 3px; */
        /* height: 50%; */
        width: 150px;
    }
    .language_plan{
        display: flex;
        /* top: 10px; */
        top:0%;
    }
    .lang_choice{
        width: 100%;
        height: 150px;
    }
  }

@media (min-width: 500px) and (max-width: 1024px) {
    .language_plan {
        top: 0%;
    }
    .lang_choice{
        width: 100%;
        height: 300px;
    }
}