@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: "Bonita";
    src: url("../public/font/BonitaFont/Bonita.otf");
}


@font-face {
    font-family: "Lobster";
    src: url("../public/font/Lobster/Lobster-Regular.ttf");
}

@font-face {
    font-family: "NOOB";
    src: url("../public/font/noob-esport-font/NOOB.otf");
}

@font-face {
    font-family: "Zighead";
    src: url("../public/font/Zighead Display FontZighead/Zighead.otf");
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}